<header>
	<nav id="tab">
		<%# tabs_tag do |tab| %>
			<%# tab.home "Home", root_path %>
			<%# tab.articles "Articles", articles_path %>
			<%# tab.about "About", about_path %>
		<% #end %>
	</nav>
</header>